.m-shopcar{
    width: 100%;
    height: 100%;
    @include flexbox();
    @include flex-direction(column);
    
    .shop-header{
        width: 100%;
        background: #f5f6f8 !important;
        height: .44rem;
        text-align: center;
        line-height: .44rem;
        color: #4c4c4c;
        font-weight: bold;
        font-size: .19rem;
        //border-bottom: 1px solid #adacb1 !important;
        @include box-sizing(border-box);
        @include border(0 0 1px 0,#adacb1);
    }
    section{
        width: 100%;
        @include flex();
        background: #efeef3;
        ul{
            li{
                &:nth-child(1){
                    width: 100%;
                    height: 1.14rem;
                }
                &:nth-child(2){
                    width: 100%;
                    height: 1.2rem;
                    @include flexbox();
                    @include justify-content(center);
                    @include align-items(center);
                    img{
                        height: 100%;
                    }
                }
                &:nth-child(3){
                    width: 100%;
                    height: .1rem;
                }
                &:nth-child(4){
                    height: .36rem;
                    font-size: .16rem;
                    text-align: center;
                    line-height: .36rem;
                    color: #929294;
                }
                &:nth-child(5){
                    height: .30rem;
                    font-size: .14rem;
                    text-align: center;
                    line-height: .30rem;
                    color: #cbcacf;
                }
                &:nth-child(6){
                    height: .42rem;
                }
                &:nth-child(7){
                    height: .38rem;
                    font-size: .18rem;
                    text-align: center;
                    line-height: .38rem;
                    color: #cbcacf;
                    @include flexbox();
                    @include justify-content(center);
                    @include align-items(center);
                    p{
                        width: 2.63rem;
                        height: .38rem;
                        color: #c3fff3;
                        background: #ff2e58;
                        border: 1px solid #ff2e58;
                        border-radius: 5px;
                    }
                }
            }
        }
    }       
}